@model Blog
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <h3>
        <b>@Model.Title </b> isimli kaydı silmek istiyor musunuz ?
    </h3>

    <form asp-controller="Blog" asp-action="Delete" asp-route-id="@Model.Id" method="post">

        <input type="hidden" asp-for="Id" />

        <input type="submit" class="btn btn-danger btn-sm" value="Delete" />

        <a asp-controller="Blog" asp-action="List" class="btn btn-primary btn-sm">Cancel</a>

    </form>
</div>